<header>
    <a href="/" title="Home" alt="Home">
        <img class="logo" src="./assets/commentative-logo-icon.svg" height="48" />
    </a>
    <button class="button-share">Invite</button>
</header>

<div class="content">
    {{!-- <h1>Johnson to tell Juncker: ‘I won’t discuss Brexit extension beyond 31 October’</h1> --}}
    <h1>{{{articleObj.title}}}</h1>
    {{!-- TODO:
        Make mapping of native siteNames to how we need them to appear on the page --}}
    <h2>{{{articleObj.siteName}}}</h2>
    <div class="post-meta">
        <small>3 people talking about this</small>
    </div>
    <div class=article>
        {{{articleObj.content}}}
    </div>
</div>

{{!-- <div class="comment-box collapsed">
  <div class="comment-inner">
    <div class="comment-icon">
      <img src="./assets/ic-comment.svg" width="24" height="24" />
      5
    </div>
    <div class="comment-preview">Marianna: I don’t like this introduc…</div>
  </div>
</div> --}}

<div class="comment-box expanded">
    <div class="comments">
        {{#if articleObj.comments}}
        {{#each articleObj.comments}}
        <div class="comment-block">
            <div class="comment-info">
                <strong class="comment-name">{{this.user}}</strong>
            </div>
            <div class="comment-content">{{this.body}}</div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div class="comment-input">
        <textarea class="addCommentTextArea" rows="1" placeholder="Comment on this paragraph.."></textarea>
        <a href="#" class="addComment button-send active" title="Submit comment"></a>
    </div>
</div>
<input class="articleBody" type="hidden" value={{articleObj.content}}>


<footer>
    <div>
        <strong>Commentative</strong><br />
        Host a discussion about anything online.
        <br /><br />Built at
        <a target="_blank" href="https://hackthepress.org/" title="Hack the Press">Hack the Press</a>
    </div>
</footer>